.fullscreen-container {
    position: relative;
    width: 100vw;
    height: 100vh;
  }

  .popup-box-text {
    font-family:Arial, Helvetica, sans-serif;
    width: 200px;
    
  }
  
  .popup-box {
    position: fixed; /* Fixed position relative to the viewport */
    top: 20px;
    right: 20px;
    padding: 5px 10px;
    background-color: rgba(34, 147, 126, 0.7);
    color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Make sure it is above the video */
    opacity:0;
    pointer-events:none;
    transition: opacity 0.5s ease-in-out;
  }
  
  .showPopup {
    opacity: 1; /* Show popup */
    pointer-events: auto; /* Enable clicks when visible */
  }
  
  .popup-button {
    background-color: #122d05;
    color: white;
    padding: 5px 16px;
    border-radius: 5px;
    text-decoration: none;
    margin-bottom: 5px;
    margin-left: 10px;
  }
  
  .popup-button:hover {
    background-color: #0056b3;
  }
  
  .fade-in {
    animation: fadeIn 1.5s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .ttlogometer
  {
    background-color: #f0f2f4;
    color: white;
    padding: 1px 1px;
    border-radius: 50px;
    text-decoration: none;
    margin-top: 2px;
    margin-bottom: 8px;
    margin-left: 50px;
  }